body{
    margin: 0 0 0 0;
    font: 13px Arial,Helvetica,sans-serif;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.tit{
    color:#004281;
    font-size: 14px;
}
#menu_superior{
    background-color: #3C5F98;
    width: 100%;
    height: 140px;
    min-width: 1000px;
}

#spabusca{
    width: 400px;
    height: 30px;
    background: url("/webroot/img/icons/bg_busca.jpg");
    position: absolute;
    margin-top: 95px;
    margin-left: 34.5%;
}

#spabusca input{
    width: 250px;
    padding: 5px;
    border: none;
    margin-top: 2px;
}

#spabusca #btn_busca{
    background-color: red;
    width: 50px;
    height: 100%;
}

#btn_search{
    width: 31px;
    height: 30px;
    display: block;
    position: absolute;
    margin-top: 0px;
    top:0px;
}

#spabusca #btn_busca{
    text-align: center;
    background-color: #3C5F98;
    height: 30px;
    float: left;
}

#spabusca #btn_busca span{
    display: table;
    color: white;
    font-weight: bold;
    margin-top: 6px;
}


#menu_superior #menu_list{
    float: right;
    margin-right: 80px;
}

#menu_superior #menu_list li{
    margin-top: 10px;
    list-style: none;
    color: white;
    float: left;
    margin-left: 30px;
    height: 28px;
    padding: 6px;
}

#menu_superior #menu_list li span{
    color:#11B5F9
}

#menu_superior #menu_list .separator{
    border-left: 2px solid white;
}

#menu_superior #phone{
    float: right;
    font-size: 20px;
    color: white;
    margin-top: 26px;
    margin-right: 100px;
    text-align: center;

}

#conteudo{
    width:100%;
    height: auto;
    margin: 0 auto;
    min-width: 1000px;
}

#menu_front a, .menu_top a{
    text-decoration: none;
    color: black;
}

#menu_front{
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#menu_front ul li strong{
    
}

#menu_front ul{
    margin-left: -25px;
}

#menu_front ul li{
    list-style: none;
    cursor:pointer;
}

#menu_front ul li ul{
    background-color: white;
}

#menu_front ul li ul li{
    list-style: none;
    margin-left: -30px;
    padding:3px;
    margin-top: 3px;
    background: #E7E5E5  url("/webroot/img/bg_menu_sub3.png") no-repeat right;
    width: 190px;
}

#menu_front .sub{
    width: 190px;
    background: #DEE6F2  url("/webroot/img/bg_menu_sub3.png") no-repeat left;
    background-position: 5px;
}

#menu_front .sub span{
    display: block;
    margin-left: 15px;
}

#display{
    width: 74%;
    float: left;
}

#display #banner{
    margin: 0 auto;
    height: 130px;
    background-color: gray;
    margin-top: 15px;
}

#display #list_offers{
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

#display #list_offers a{
    text-decoration: none;
}

#display #list_offers #title_list{
    width: 100%;
    height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-color: #004281;
}

.menu_top { background: #F2F2F2; height:30px; margin:0px; min-width: 1000px;}
.menu_top ul, .menu_top li {padding: 3px}
.menu_top li {list-style:none;}
.menu_top .principal {list-style:none; position:relative; width:145px; float:left; z-index: 100;}
.menu_top strong {display:block; margin-top:3px; cursor:pointer;}
.menu_top .principal .sub_principal {display:none; position:absolute; background-color:white; width:210px; height:170px; background: url("/webroot/img/icons/linear_separator.png")}
.menu_top .principal .sub_principal img {float:right; margin-top:5px;}
.menu_top .principal .sub_principal .content {-moz-border-radius:5px; webkit-border-radius:5px;}
.menu_top .principal .sub_principal .content img{max-width: 100px; margin-top: 10px;}
.menu_top li strong {color:#3C5F98}
.bloco_img li {float: left}

#footer{
    width: 100%;
    height: 130px;
    background-color: #F8F8F8;
    clear: both;
}

#footer #pagamento{
    text-align: center;
    padding-top: 10px;
}

#footer #direitos{
    font-size: 12px;
    text-align: center;
    color: #B8A899;
}


.offer{
    margin-top: 10px;
    width: 170px;
    height: 210px;
    padding: 5px;
    text-align: center;
    color: #5071A9;
    float: left;
}

.offer .divimg{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.offer img{
    max-width: 120px;
    border: none;
}

.offer .titulo{
    margin-top: 5px;
    height: 30px;
    overflow: hidden;
}

.offer .preco_avista{
    margin-top: 7px;
}

.offer .frete{
    margin-top: 4px;
    color: red;
}

.offer .preco span{
    color: red;
}

#oferta_detalhe{
    margin-top: 30px;
}

#oferta_detalhe img{
    margin-top: 20px;
}

#oferta_detalhe #img_oferta{
    min-width: 150px;
}

#oferta_detalhe #titulo {
    display: block;
    width: 100%;
    background-color: #3C5F98;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#oferta_detalhe #descricao_curta{
    width: 600px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    color: #618FBB;
}

#oferta_detalhe .zoomPad{
    float: left;
}

#oferta_detalhe #descricao_longa{
}

#oferta_detalhe #descricao_longa span , #oferta_detalhe #tags_url span{
    display: block;
    margin-top: 15px;
    border-bottom: 1px solid;
    border-color: #F2F2F2;
    color: #3C5F98;
}

#oferta_detalhe #tags_url #tags{
    margin-top: 5px;
    font-size: 20px;
    color: #E7E5E5;
}

.lista_oferta .oferta_imagem{
    float: left;
}

.lista_oferta .oferta_imagem img{
    width: 120px;
    height: 110px;
    clear: both;
    margin: 3px 3px 3px 3px;
}

.lista_oferta .box_oferta{
    width: 100%;
    border: 1px solid #F2F2F2;
    margin-top: 5px;
    clear: both;
    height: 120px;
}

.lista_oferta .box_oferta .descricao{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.lista_oferta .box_oferta .valores{
    font: 15px;
    margin-top: 10px;
}

.lista_oferta .box_oferta .valores .preco{
    display: table;
}

.lista_oferta .box_oferta .valores .parcela{
    display: table;
    font-weight: bold;
}

.lista_oferta .box_oferta .buttons{
    float: right;
    margin-right: 30px;
    vertical-align: sub;
}

.ver_mais{
    background-image: url("/webroot/img/icons/datalhes_comprar_icon.gif");
    width: 76px;
    height: 20px;
    display: block;
}
.comprar{
    background-image: url("/webroot/img/icons/datalhes_comprar_icon.gif");
    width: 76px;
    height: 20px;
    background-position: 0 23px;
    display: block;
}

#info_carrinho{
    display: block;
}

.carrinho{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

.carrinho #imagem {
    float: left;
    width: 200px;
}

.carrinho #imagem img{
    position: relative;
}

.carrinho #informacao {
    width: 500px;
}
.carrinho ul{
    list-style: none;
    margin-top: 5px;
}

.carrinho ul li{
    padding: 3px;
}

#realizar{
    width: 150px;
    height: 20px;
    background-color: #3C5F98;
    float: left;
    color: white;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.carrinho_exibicao{
    width: 800px;
}
.carrinho_exibicao caption{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 40px;
    background-color: #3C5F98;
    color: white;
}

.carrinho_exibicao a {
    color: red;
}
.carrinho_exibicao img{
    max-width: 60px;
}